<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Editor</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Welcome To File Editor</h1>
    
    <form action="/replacementText" method="post" enctype="multipart/form-data">
        <div id="buttonChoose">
            <table class="table">
                <thead>
                    <tr>
                        <th>Select a File to Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                          <input type="checkbox" name="selected" value="Termo de responsabilidade - UPAC_PREENCHIDO.docx">
                            AQS

                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <br></br>

                          <input type="checkbox" name="selected" value="Termo de responsabilidade - AVAC_PREENCHIDO.docx">
                            AVAC
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <input type="checkbox" name="selected" value="Termo de responsabilidade - ELE_PREENCHIDO.docx">
                            ELE
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <input type="checkbox" name="selected" value="Termo de responsabilidade - ELEVADORES_PREENCHIDO.docx">
                            ELEVADORES
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <input type="checkbox" name="selected" value="Termo de responsabilidade - GASES_MED_PREENCHIDO.docx">
                          GASES_MED

                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                          <input type="checkbox" name="selected" value="Termo de responsabilidade - ITED_PREENCHIDO.docx">
                          ITED

                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                          <input type="checkbox" name="selected" value="Termo de responsabilidade - PROT_PREENCHIDO.docx">
                          PROT

                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                          <input type="checkbox" name="selected" value="Termo de responsabilidade - SEG_PREENCHIDO.docx">
                          SEG

                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                          <input type="checkbox" name="selected" value="Termo de responsabilidade - UPAC_PREENCHIDO.docx">
                            UPAC

                        </td>
                        
                    </tr>
                </tbody>
                
            </table>
        </div>
        <br></br>
        <div class="replacementTexts">
            Now lets make the changes in your files
            <br></br>
        <input type="text" name="replaceText1" placeholder="Local">
    <br></br>
        <input type="text" name="replaceText2" placeholder="Owner">
        <br></br>
        
        <input type="text" name="replaceText3" placeholder="Date">
        <br></br>
        
        <input type="text" name="footerOwner" placeholder="Footer Local">
        <br></br>
        
        <input type="text" name="footerLocal" placeholder="Footer Village">
        
    </div>
        <br></br>
        <div class="container">
        <button type="submit">Download</button>
        </div>
    </form>
</body>
</html>
