<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
</head>
<body>
    <h1>Welcome To File Editor</h1>
    <form action="/replacementText" method="post" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="fileInput" required>
        <input type="text" name="replaceText1" placeholder="Enter Text Here (Construction Local)">
        <input type="text" name="replaceText2" placeholder="Enter Text Here (Construction Owner)">
        <input type="text" name="replaceText3" placeholder="Enter Text Here (Date)">
        <input type="text" name="footerOwner" placeholder="Enter Text Here (Footer Local)">
        <input type="text" name="footerLocal" placeholder="Enter Text Here (Footer Village)">
        <button type="submit">Enviar</button>
    </form><br></br>
    <form action="/replacementText" method="post" enctype="multipart/form-data">
      <input type="file" id="fileInput" name="fileInput" required>
      <input type="text" name="replaceText1" placeholder="Enter Text Here (Construction Local)">
      <input type="text" name="replaceText2" placeholder="Enter Text Here (Construction Owner)">
      <input type="text" name="replaceText3" placeholder="Enter Text Here (Date)">
      <input type="text" name="footerOwner" placeholder="Enter Text Here (Footer Local)">
      <input type="text" name="footerLocal" placeholder="Enter Text Here (Footer Village)">
      <button type="submit">Enviar</button>
  </form><br></br>
  <form action="/replacementText" method="post" enctype="multipart/form-data">
    <input type="file" id="fileInput" name="fileInput" required>
    <input type="text" name="replaceText1" placeholder="Enter Text Here (Construction Local)">
    <input type="text" name="replaceText2" placeholder="Enter Text Here (Construction Owner)">
    <input type="text" name="replaceText3" placeholder="Enter Text Here (Date)">
    <input type="text" name="footerOwner" placeholder="Enter Text Here (Footer Local)">
    <input type="text" name="footerLocal" placeholder="Enter Text Here (Footer Village)">
    <button type="submit">Enviar</button>
</form><br></br>
<form action="/replacementText" method="post" enctype="multipart/form-data">
  <input type="file" id="fileInput" name="fileInput" required>
  <input type="text" name="replaceText1" placeholder="Enter Text Here (Construction Local)">
  <input type="text" name="replaceText2" placeholder="Enter Text Here (Construction Owner)">
  <input type="text" name="replaceText3" placeholder="Enter Text Here (Date)">
  <input type="text" name="footerOwner" placeholder="Enter Text Here (Footer Local)">
  <input type="text" name="footerLocal" placeholder="Enter Text Here (Footer Village)">
  <button type="submit">Enviar</button>
</form><br></br>
<form action="/replacementText" method="post" enctype="multipart/form-data">
  <input type="file" id="fileInput" name="fileInput" required>
  <input type="text" name="replaceText1" placeholder="Enter Text Here (Construction Local)">
  <input type="text" name="replaceText2" placeholder="Enter Text Here (Construction Owner)">
  <input type="text" name="replaceText3" placeholder="Enter Text Here (Date)">
  <input type="text" name="footerOwner" placeholder="Enter Text Here (Footer Local)">
  <input type="text" name="footerLocal" placeholder="Enter Text Here (Footer Village)">
  <button type="submit">Envia</button>
</form>
</body>
</html>
