.replacementTexts{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    

}
.buttonChoose {
    display: flex;
    align-items: center;
}
th{
    font-size: 30px;
}

.table {
    font-size: 20px;
    padding: 20px;
    width: 80%;  /* Adjust as needed */
    max-width: 400px;  /* Adjust as needed */
    margin: 0 auto;
}

.table th {
    background: linear-gradient(to top, rgb(33, 172, 96), rgb(202, 202, 162));
    opacity: 0.7;
}

h1 {
    color: black;
    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-size: 450%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button {
    /* Your existing button styles */
    font-size: 20px;
    border-radius: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* Remove any positioning that might conflict */
}

body::after{
    content: "";
    background-image: url('codigo-binario-1621982130311_v2_1x1.jpg');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}